:root
{
    background-color: mediumslateblue;
    font-size: 65%;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: indigo;
}

h1, h2, h3, h4{
    margin-bottom: 1rem;
}

h1{
    font-size: 7rem;
    color: oldlace;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5rem;
}
